|===
|Parameter|Description|Required|Length|Example
{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}true{{/optional}}{{#optional}}false{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{^length}}제한 없음{{/length}}{{#length}}{{.}}{{/length}}{{/tableCellContent}}
|{{#tableCellContent}}{{#example}}{{.}}{{/example}}{{/tableCellContent}}
{{/parameters}}
|===
